
.dark {
    background: dimgrey;
    height: 150px;

}

.dark-text {
    color: aliceblue;
}

.blue {
    background: #DCEEFF;
    height: 150px;
}

.blue-text {
    color: #131313;
}

.light {
    background: #FFFFFF;
    height: 150px;
}

.light-text {
    color: #131313;
    margin-right: 10px;
}