
.text {
    text-decoration: none;
    color: var(--colorText);
    padding-left: 5px;
}

.text:hover {
    color: #508eea;

}

.active {
    color: var(--colorHighText);
    text-decoration: none;
    padding-left: 5px;
}

.slideContainer {
    left: 0;
    position: absolute;
    top: 25px;
}

.slideHeader {
    color: var(--colorText);
    padding-left: 30px;
}

.slideContainer .slide {
    background-color: var(--color);
    border: solid #777;
    border-width: 2px 2px 2px 0;
    color: #fff;
    height: 48px;
    line-height: 48px;
    margin: 16px 0 0 -200px;
    position: relative;
    text-align: center;
    width: 240px;
    -moz-transition: margin 1s;
    -o-transition: margin 1s;
    -webkit-transition: margin 1s;
    transition: margin 1s;
    border: 1px solid var(--colorBorder);
}

.slideContainer .slide:hover {
    margin-left: 0;
}

.slideContainer .slide .slideContent {
    float: left;
    width: 170px;
}

.slideContainer .slide .slideHeader {
    float: left;
    width: 30px;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.slideContainer .slide:hover .slideHeader {
    opacity: 0;
}