
.text {
    text-decoration: none;
    color: #113654;
    padding-left: 5px;
}

.slideContainer {
    left: 0;
    position: absolute;
    top: 25px;
}

.slideHeader {
    color: #113654;
    padding-left: 7px;
}

.slideContainer .slide {
    background-color: #70ED84;
    border: solid #777;
    border-width: 2px 2px 2px 0;
    color: #fff;
    height: 48px;
    line-height: 48px;
    margin: 16px 0 0 -175px;
    position: relative;
    text-align: center;
    width: 210px;
    -moz-transition: margin 1s;
    -o-transition: margin 1s;
    -webkit-transition: margin 1s;
    transition: margin 1s;
}

.slideContainer .slide:hover {
    margin-left: 0;
}

.slideContainer .slide .slideContent {
    float: left;
    width: 170px;
}

.slideContainer .slide .slideHeader {
    float: left;
    width: 30px;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.slideContainer .slide:hover .slideHeader {
    opacity: 0;
}