.container {
    margin: auto 30px;
}

.span {
    color: var(--colorText);
    font-family: inherit;
}


.button {
    background-color: var(--colorButton);
    border: 1px solid;
    color: var(--colorText);
    border-color: var(--colorBorder);
    margin: 5px;
    font-family: inherit;
}

.button:hover {
    cursor: pointer;
}

.active {
    background-color: var(--colorHighText);
    border-color: var(--colorBorder);
}

.priority {
    margin: auto 10px;
    font-family: inherit;
}

.high {
    color: red;
}

.middle {
    color: #f8f405;
}

.low {
    color: #5aef04;
}

.removeButton {
    background-color: var(--colorButton);
    border-color: var(--colorBorder);
    opacity: 90%;
    color: var(--colorText);
}

.removeButton:hover {
    cursor: pointer;
}
