.container {
    margin: auto 30px;
}

.button {
    background-color: lightseagreen;
    border: midnightblue 1px solid;
    color: midnightblue;
}

.active {
    background-color: hotpink;
}

.priority {
    margin: auto 10px;
}

.high {
    color: red;
}

.middle {
    color: gold;
}

.low {
    color: lawngreen;
}

.removeButton {
    background-color: crimson;
    opacity: 90%;
}
