.superInput {
    background: crimson !important;
    color: coral;
    border: 3px solid cyan !important;

}

.errorInput {
    border: 3px solid lime;
    background: red;
}

.error {
    color: red;
}