.greetingForm {

}

.inputAndButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 12px;
    margin-bottom: 22px;
    font-size: 14px;
    font-weight: 600;
}

.error {
    color: #CC1439;
}

.input {
    width: 372px;
    height: 36px;
    margin-right: 12px;
}

.input:focus {
    outline: none;
    border: 1px solid #00CC22;
}

.errorInput {
    border: 2px solid #CC1439;
    width: 372px;
    height: 36px;
    margin-right: 12px;


}

.button {
    color: #FFFFFF;
    background-color: #0066cc;
    border-radius: 3px;
    width: 78px;
    height: 36px;
    border-radius: 3px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.button:hover {
    opacity: 0.5;
    color: #FFFFFF;
}

.button:active {


}

.button:disabled {

}

.text {
}

.greeting {
    margin-left: 10px;
}
