
:root {
    --color: #aef2d3;
    --width: 200px;
    --radius: 16px;
    --colorText: #0d6d01;
    --colorHighText: #ea69b5;
    --colorButton: #70ec83;
    --colorBorder: #e8eae8;
    --rootColor: #5CA4EA;
    --colorTitle: #1295c9
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body, html {
    font-family: 'Oxygen', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    margin: 0;
    padding: 0;
    background: var(--rootColor);
    font-weight: bold;
    min-height: 450px;
    padding-left: 5px;
}
