.container {
    display: flex;
    flex-direction: column;
}

.superInput {
    background-color: var(--color);
    color: var(--colorText);
    border: 3px solid var(--colorBorder);

}

.errorInput {
    border: 3px solid crimson;
    background-color: darksalmon;

}

.error {
    color: red;
}